html {  }
body { color:#000000; background:#FFFFFF; font-size:0.83em; font-family:Arial,Helvetica,Sans-serif; }

img { border-style:none; }
form { margin:0; padding:0; }
blockquote { margin:15px; padding:0 10px; }
hr { border:none 0; margin:15px 0; border-top:2px solid #A3B4C5; height:1px; }
p { padding:0; margin:0 0 16px; }
p.extraspace { padding:0; margin:0 0 26px; }

h1,
h2 { color:#2683DC; font-size:1.37em; margin-top:0; }
h3 { color:#2683DC; font-size:1.2em; margin-top:0; }
h4 { color:#2683DC; font-size:1.1em; }
h5 { color:#2683DC; font-size:1.0em; }
h6 { color:#2683DC; font-size:0.9em; }

a,
a:visited { color:#2683DC; text-decoration:underline; }
a:hover { color:#144675; text-decoration:underline; } /* Brightness - 40 */

.clear { clear:both; height:0; overflow:hidden; }
.spacer { clear:both; height:13px; overflow:hidden; }
.hide { display:none; }
.error { color:#FF0000; font-weight:bold; }
.nowrap { white-space:nowrap; }

.photoRight { float:right; margin-left:10px; margin-bottom:7px; margin-top:3px; }
.photoLeft { float:left; margin-right:10px; margin-bottom:7px; margin-top:3px; }
.photoCentre { display:block; margin:0 auto; }
.center { text-align:center; }
.justify { text-align:justify; }

.article-left { width:49%; float:left; }
.article-right { width:49%; float:right; }
.article-rightalt { width:49%; float:right; text-align:right; }


/* Interface CSS */

#header { margin-bottom:15px; padding-bottom:15px; border-bottom:2px solid #A3B4C5; }

#sidebar,
#footer { display:none; }


/* Content CSS */

#user-notice { background-color:#2683DC; font-weight:bold; text-align:center; margin-bottom:16px; color:#FFFFFF; }
#user-notice a,
#user-notice a:visited { color:#FFFFFF; text-decoration:underline; }
#user-notice a:hover { color:#FFFFFF; text-decoration:underline; }
#user-notice p { margin:0; padding:12px; }

/* Nice looking lists */
.list ul { list-style:none; margin:0 0 20px 0; padding:0; }
.list ul li { padding-left:15px; background:url("arrow_current.gif") 2px 3px no-repeat; }
