/* ----------------------
   Notes / Error / Login
---------------------- */

.sck-note-p { margin-left:35%; font-size:0.87em; background-color:#CCFFCC; padding:2px 3px 2px 3px; border-top:1px solid #66FF66; }

/* Errors */
.sck-error { color:#990000; }
.sck-error-box { border:1px solid #FF6666; padding:10px 10px 0 10px; text-align:center; margin-bottom:13px; }
.sck-error-box p { margin:0 0 10px 0; }
.sck-error-box-mini { border:1px solid #FF6666; padding:10px; text-align:center; margin-bottom:13px; }
.sck-error-box-mini p { padding:0; margin:0; }
.sck-error-p { margin-left:35%; font-size:0.87em; background-color:#FFCCCC; padding:2px 3px 2px 3px; border-top:1px solid #FF6666; }

/* Login */
.sck-login-box { width:60%; min-width:350px; margin:0 auto; border:2px solid #DBDBDB; padding:10px 10px 0 10px; margin-bottom:13px; }
.sck-login-subbox { width:60%; min-width:350px; text-align:center; margin:0 auto; border:2px solid #DBDBDB; padding:10px; margin-bottom:13px; }
.sck-login-subbox p { padding:0; margin:0; }


/* ----------------------
   Mini Form
---------------------- */
#sck-minicontact { font-size:0.85em; }
#sck-minicontact p { margin-bottom:5px; }
#sck-minicontact input { width:127px; /* 3px fix */ margin-bottom:5px; }
#sck-minicontact textarea { width:130px; height:70px; margin-bottom:5px; }
.sck-minicontact-header strong { font-size:1.17em; color:#244C26; }


/* ----------------------
   Contact Form
---------------------- */
#sck-form { width:100%; clear:both; }
#sck-form p { clear:both; overflow:hidden; margin:1em 0; }
#sck-form label { width:32.5%; float:left; margin-top:4px; text-align:right; font-weight:bold; }
#sck-form label.left { width:32.5%; float:left; margin-top:4px; text-align:left; font-weight:bold; }
#sck-form input.field { width:64.5%; float:right; }
#sck-form textarea { width:65%; float:right; }
#sck-form select { width:65%; float:right; }
#sck-form input { float:right; }

#sck-form span.other { width:65%; float:right; }
#sck-form span.other input { float:none; }
#sck-form span.other select { width:auto; float:none; }
#sck-form div.other { width:65%; float:right; }
#sck-form div.other input { float:none; }
#sck-form div.other select { width:auto; float:none; }
#sck-form div.other label{float:none; width:auto;}

#sck-form span.other-p { width:65%; float:right; margin-bottom:5px; }
#sck-form span.other-p input { float:none; }

/* Extra bits for the contact form */
#sck-form label.wide { width:100%; text-align:left; } /* Used for full width labels */
#sck-form p.text-right input { float:none; } /* ? */
p.sck-p { clear:both; margin-top:5px; margin-bottom:5px; width:65.5%; float:right; } /* Used for lines and other text */

/* Used for contact forms */
#sck-form-compact { width:100%; clear:both; }
#sck-form-compact p { clear:both; padding-bottom:12px; }
#sck-form-compact label { width:32.5%; float:left; margin-top:4px; text-align:right; font-weight:bold; }
#sck-form-compact input.field,
#sck-form-compact textarea,
#sck-form-compact select { width:65%; float:right; }
#sck-form-compact input { float:right; }

#sck-form-compact span.other { width:65%; float:right; }
#sck-form-compact span.other input { float:none; }

/* Extra bits for the contact form */
#sck-form-compact label.wide { width:100%; text-align:left; } /* Used for full width labels */
#sck-form-compact p.text-right input { float:none; } /* ? */


/* ----------------------
   Quick Form
---------------------- */

#quickForm { margin:0; padding:0; width:100%; clear:both; }
#quickForm fieldset { clear:both; /*float:left;*/ border:0; margin:0; padding:0; width:100%; }
#quickForm fieldset.hidden { border:0; }
#quickForm fieldset legend { white-space:nowrap; background-color:#CCCCCC; font-weight:bold; width:100%; padding:1px; display:block; }
#quickForm fieldset ol { margin:0; padding:0; }
#quickForm fieldset li { display:block; list-style:none; margin:0 0 5px 0; clear:both; }

#quickForm label { margin:0 0 0 5px; }
#quickForm label.element { display:block; float:left; width:32.5%; padding:0; margin:4px 0 0 0; font-weight:bold; text-align:right; }

#quickForm input[type="text"],
#quickForm textarea,
#quickForm select { width:98.5%; }
#quickForm textarea { overflow:auto; }

#quickForm br { clear:left; }
#quickForm div.element { display:block; width:65%; float:left; margin:0 0 0 10px; padding:0; }

#quickForm li.reqnote { font-size:90%; padding-top:10px; }
#quickForm span.error { color:red; }
#quickForm span.required { color:red; margin-right:5px; }
#quickForm div.error { /*border:1px solid red; padding:5px;*/ }

/* ----------------------
   Tables
---------------------- */

.table { margin-bottom:16px; width:100%; border-collapse:collapse; }
.table_ol { margin-bottom:16px; width:100%; border-collapse:collapse; border-top:1px solid #CCCCCC; border-right:1px solid #CCCCCC; border-left:1px solid #CCCCCC; }
.table_sm { margin-bottom:10px; width:100%; border-collapse:collapse; }
.table_nm { width:100%; border-collapse:collapse; }
.rowstrong td { border-bottom:2px solid #A3B4C5; font-weight:bold; vertical-align:bottom; padding:3px; }
.rowstrong td a,
.rowstrong td a:visited { text-decoration:none; }
.rowstrong td a:hover { text-decoration:underline; }
.rowstrong th { border-bottom:2px solid #A3B4C5; font-weight:bold; vertical-align:bottom; text-align:left; padding:3px; }
.rowstrong th a,
.rowstrong th a:visited { text-decoration:none; }
.rowstrong th a:hover { text-decoration:underline; }
.row td { border-bottom:1px solid #A3B4C5; padding-bottom:3px; padding-top:3px; vertical-align:top; }
.row:hover td { background-color:#DBDBDB; }
.rowalt td { background-color:#E3E3E3; border-bottom:1px solid #A3B4C5; padding-bottom:3px; padding-top:3px; vertical-align:top; }
.rowalt:hover td { background-color:#D0D0D0; }


/* ----------------------
   Paging
---------------------- */

.paging_top { border-bottom:2px solid #2683DC; padding:12px 7px 12px 7px; margin-bottom:10px; text-align:center; }
.paging_bottom { border-top:2px solid #2683DC; padding:12px 7px 12px 7px; margin-top:10px; text-align:center; }

.paging_fade { color:#2683DC; }
.paging_selected { border:1px solid #2683DC; padding:2px 7px; margin:0 2px; background-color:#2683DC; color:#FFFFFF; }
.paging_page a { border:1px solid #2683DC; padding:2px 7px; margin:0 2px; background-color:#FFFFFF; text-decoration:none; }
.paging_page a:hover { border:1px solid #333333; padding:2px 7px; margin:0 2px; background-color:#666666; color:#FFFFFF; text-decoration:none; }

.transfer_list{width:750px; margin:1em 0 1em 0; overflow:hidden;}
.transfer_list_assigned_container, .transfer_list_unassigned_container{width:325px; float:left; display:block; padding:2px; color:#ffffff; -moz-border-radius-topleft:4px; -moz-border-radius-topright:4px;}
.transfer_list_unassigned_container{background:#C73333;}
.transfer_list_assigned_container{background:#32C732;}
.transfer_list_assigned, .transfer_list_unassigned{float:none !important; width:325px !important; height:300px; display:block; border:solid 1px #476A8C;}
.transfer_list_button_container{display:block; width:50px; padding-top:139px; float:left; text-align:center;}
.transfer_list_assign span, .transfer_list_unassign span{display:none;}
.transfer_list_assign{background:url(left-right-button.gif) no-repeat -24px 0px; width:24px; height:24px; display:block; border:0; margin:auto;}
.transfer_list_unassign{background:url(left-right-button.gif) no-repeat 0px 0px; width:24px; height:24px; display:block; border:0; margin:auto;}
