html {  }
body { color:#2c2c2c; background-color:#FFFFFF; font-size:0.8em; font-family:Arial,Helvetica,Sans-serif; }

img { border-style:none; display:block; }
img.inline,
#article img,
#sidebar img { display:-moz-inline-stack; display:inline-block; }
img.block, embed, object { display:block!important; }
img.icon,
img.arrow { display:-moz-inline-stack; display:inline-block; vertical-align:middle; }

form { margin:0 0 16px 0; padding:0; }
blockquote { margin:16px; }
hr { border:none 0; margin:25px 0; background:url("hr.gif") center top no-repeat; height:5px; }
p { padding:0; margin:0 0 16px 0; }

dt { font-weight:bold; margin-bottom:4px; }
dd { margin-bottom:16px; }

h1 { color:#003b73; font-size:1.6em; margin-top:0; font-family:Verdana,Arial,Helvetica,Sans-serif; }
h2 { color:#003b73; font-size:1.2em; margin-top:0; font-family:Verdana,Arial,Helvetica,Sans-serif; }
h3 { color:#003b73; font-size:1.1em; margin-top:0; font-family:Verdana,Arial,Helvetica,Sans-serif; }
h4, h5, h6 { color:#003b73; font-size:1em; }

a,
a:visited { color:#003b73; text-decoration:none; outline:none; }
a:focus,
a:hover { color:#003b73; text-decoration:none; }
a:active { color:#003b73; text-decoration:none; }

ul.none { list-style:none; margin:0; padding:0; }
ul.none li { padding:0 0 8px 0; }

ul.compact { list-style:none; margin:0; padding:0; }
ul.compact li { padding:0; margin:0; }

.clear { clear:both; height:0; overflow:hidden; }
.hide { display:none; }
.error { color:#FF0000; font-weight:bold; }
.nowrap { white-space:nowrap; }

.photoRight { float:right; margin:3px 0 7px 10px; }
.photoLeft { float:left; margin:3px 10px 7px 0; }
.photoCentre { display:block; margin:0 auto; }
.center { text-align:center; }
.justify { text-align:justify; }

.uppercase { text-transform:uppercase; }
.nomargins { margin:0!important; padding:0!important; }

.article-left { width:48%; float:left; }
.article-right { width:48%; float:right; }
.article-rightalt { width:48%; float:right; text-align:right; }

.protection { unicode-bidi:bidi-override; direction:rtl; }


/* ----------------------
   Three Col CSS
---------------------- */

#col-b ,
#col-c,#accessibility,
#footer { display:none; }

#header { border-bottom:1px solid #003b73; margin-bottom:16px; font-weight:bold; }

/* ----------------------
   Content CSS
---------------------- */

.red { color:#d60127; /*e73242*/ }
.blue { color:#003b73; }
.sb { font-weight:bold; font-size:0.83em; }
.pmin p { margin:0 0 7px 0; }

.td_right { text-align:right!important; }

.sidecol_padding { padding:16px 16px 1px 16px; }

a.readmore { padding-left:12px; font-weight:bold; background:url("arrow.gif") left 3px no-repeat; }

.title_tl { width:225px; height:33px; background:url("title_tl.gif") left top no-repeat; overflow:hidden; }
.title_tr { width:225px; height:33px; background:url("title_tr.gif") left top no-repeat; overflow:hidden; }
.title_tl h2,
.title_tr h2 { color:#FFF; padding:10px 10px 0 15px; font-size:1.23em; }

.title_bl { width:225px; height:41px; background:url("title_bl.gif") left top no-repeat; overflow:hidden; margin-bottom:15px; }
.title_br { width:225px; height:41px; background:url("title_br.gif") left top no-repeat; overflow:hidden; margin-bottom:0; }
.title_bl h2,
.title_br h2 { color:#FFF; padding:18px 10px 0 15px; font-size:1.23em; }

#googleMap { border:2px solid #000000; margin-bottom:16px; overflow:hidden; }

/* ----------------------
   HighSlide
---------------------- */

.highslide { cursor:url("../behaviour/highslide/zoomin.cur"), pointer; outline:none; }
.highslide-caption { display:none; padding:5px 7px 5px 7px; background-color:#333333; color:#FFF; font-weight:bold; text-align:center; }
.highslide-loading { display:block; color:#FFF; font-size:9px; font-weight:bold; text-transform:uppercase; text-decoration:none; padding:3px; border:1px solid #FFF; background-color:#000; }
.highslide-display-block { display:block; }
.highslide-display-none { display:none; }
.closebutton { position:relative; top:-15px; left:15px; width:30px; height:30px; cursor:pointer; background: url("../behaviour/highslide/close.png"); }

/* ----------------------
   Tables
---------------------- */

.table { margin-bottom:16px; width:100%; border-collapse:collapse; }
.table caption { text-align:left; font-size:0.85em; }
.table th,
.table td { border-bottom:1px solid #B4B4B4; padding:3px 0 3px 3px; }
.table th { text-align:left; vertical-align:bottom; }
.table th a,
.table th a:visited { text-decoration:none; }
.table th a:hover { text-decoration:underline; }
.table td { text-align:left; vertical-align:top; }
.table thead th,
.table thead td { border-bottom:2px solid #B4B4B4!important; font-weight:bold; }
.table tbody tr:hover { background-color:#E8E8E8; }
.table tbody tr.alt { background-color:#E8E8E8; }
.table tbody tr.alt:hover { background-color:#D1D1D1; }

.table-compact { margin-bottom:16px; width:100%; border-collapse:collapse; }
.table-compact td { padding:0 2px 3px 0; }
.table-compact td { text-align:left; vertical-align:top; }
